<h1><%= @assignment.title %></h1>
<p>Repo URL: <%= @assignment.repo_url %></p>
<p>Type: <%= @assignment.assignment_type %></p>

<%= link_to "Create new submission", new_assignment_submission_path(@assignment) %>

<!-- t.integer  "assignment_id"
t.integer  "github_id"
t.string   "html_url"
t.string   "repo_url"
t.string   "status" -->
