<h2><%= @assignment.title %></h2>
<h3>Submissions</h3>
<% @submissions.each do |submission| %>
  <div>
    <h4><%= submission.student.name %></h4>
    Status: <%= submission.status %>
  </div>
<% end %>
