/*
 *= require_tree .
 *= require_self
 */

.cf:after{
  content:' ';
  display: table;
  clear:both;
}

.left{
  float:left;
}

.right{
  float:right;
}

header h1{
  margin-top:0;
}

a{
  color:#3F78C0;
}

body{
  font-family:'Helvetica Neue', sans-serif;
  max-width:800px;
  margin:auto;
  padding:2em 1em;
}

h1 a{
  font-inherit;
  color:inherit;
  letter-spacing:-.05em;
  text-decoration:none;
  border-bottom:1px dashed #000;
}

.assignment h3{
  margin-bottom:.5em;
}

.submission{
  border-bottom:1px solid #ccc;
  padding:1em 0;
}

.submission h3{
  margin:0;
}

.status input[type=checkbox]
{
  position:absolute;
  width:1px;
  height:1px;
  opacity:0.01;
  overflow:hidden;
}
label
{
  cursor:pointer;
}
li
{
  margin:5px 0;
}
input+label
{
  background-color:#ffaaaa;
  padding:5px 10px;
  border-radius:5px;
  border:1px solid transparent;
}
input:checked+label
{
  background-color:#cceecc;
}
input+label:hover
{
  border-color:#333;
}
input+label:after
{
  content:"?";
}
input:checked+label:after
{
  content:"!";
}

table
{
  border-spacing:0;
  width:100%;
}
td,th
{
  padding:10px 20px;
  text-align:left;
}
tr:nth-of-type(even)>*
{
  background-color:#f3f3f3;
}
td.closed {
  background-color: #cceecc;
}
td.open {
  background-color: #ffdca9;
}
td.missing {
  background-color: #ff9d94;
}

textarea{
  font:inherit;
  width:100%;
  min-height:400px;
}
